{% extends "swiftalk/home/sidebar.html" %}
{% load static %}

{% block content %}
    {#<!-- Main Content -->#}

    <div class="main main-visible" data-mobile-height="">
        <div class="tab-content h-100" role="tablist">
            <!-- Chat -->
            {% for thread in Threads %}
                <div class="tab-pane fade h-100"
                     role="tabpanel" id="tab-content-chat-{{ thread.id }}" data-thread-id="{{ thread.id }}">

                    <div class="chat dropzone-form-js" data-dz-url="/upload_chat_file/">

                        <!-- Chat: body -->


                        <div class="chat-body messages-wrapper {% if forloop.first %}hide is_active{% else %}hide{% endif %}"
                             chat-id="chat_{{ thread.id }}" other-user-id="
                                        {% if thread.first_person == user %}
                                            {{ thread.second_person.id }}
                                        {% else %}
                                            {{ thread.first_person.id }}
                                        {% endif %}
                                    ">

                            <!-- Chat: Header -->
                            <div class="chat-header border-bottom py-4 py-lg-6 px-lg-8">
                                <div class="container-xxl">

                                    <div class="row align-items-center">

                                        <!-- Close chat(mobile) -->
                                        <div class="col-3 d-xl-none">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a class="text-muted px-0" href="#" data-chat="open">
                                                        <i class="icon-md fe-chevron-left"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Chat photo -->
                                        <div class="col-6 col-xl-6">
                                            <div class="media text-center text-xl-left">
                                                <div class="avatar avatar-sm avatar-online d-none d-lg-inline-block mr-5">
                                                    <img src="{% if thread.first_person == user %}
                                                                    {{ thread.second_person.avatar.url }}
                                                                {% else %}
                                                                    {{ thread.first_person.avatar.url }}
                                                                {% endif %}" class="avatar-img"
                                                         alt="">
                                                </div>

                                                <div class="media-body align-self-center text-truncate">
                                                    {% if thread.first_person == user %}
                                                        <h6 class="text-truncate mb-n1">{{ thread.second_person.username }}</h6>
                                                        <span class="badge badge-dot badge-success d-inline-block d-xl-none mr-1"></span>
                                                        <small class="text-muted">Online</small>
                                                    {% else %}
                                                        <h6 class="text-truncate mb-n1">{{ thread.first_person.username }}</h6>
                                                        <span class="badge badge-dot badge-success d-inline-block d-xl-none mr-1"></span>
                                                        <small class="text-muted">Online</small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Chat toolbar -->
                                        <div class="col-3 col-xl-6 text-right">
                                            <ul class="nav justify-content-end">
                                                <li class="nav-item list-inline-item d-none d-xl-block mr-3">
                                                    <a class="nav-link text-muted px-3" data-toggle="collapse"
                                                       data-target="#chat-2-search" href="#" title="Search this chat">
                                                        <i class="icon-md fe-search"></i>
                                                    </a>
                                                </li>

                                                <li class="nav-item list-inline-item d-none d-xl-block mr-0">
                                                    <a class="nav-link text-muted px-3" href="#"
                                                       data-chat-sidebar-toggle="#chat-2-info" title="Details">
                                                        <i class="icon-md fe-more-vertical"></i>
                                                    </a>
                                                </li>

                                                <!-- Mobile nav -->
                                                <li class="nav-item list-inline-item d-block d-xl-none">
                                                    <div class="dropdown">
                                                        <a class="nav-link text-muted px-0" href="#"
                                                           data-toggle="dropdown"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            <i class="icon-md fe-more-vertical"></i>
                                                        </a>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item d-flex align-items-center"
                                                               data-toggle="collapse" data-target="#chat-2-search"
                                                               href="#">
                                                                Search <span class="ml-auto pl-5 fe-search"></span>
                                                            </a>

                                                            <a class="dropdown-item d-flex align-items-center" href="#"
                                                               data-chat-sidebar-toggle="#chat-2-info">
                                                                Chat Info <span
                                                                    class="ml-auto pl-5 fe-more-horizontal"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- Mobile nav -->
                                            </ul>
                                        </div>

                                    </div><!-- .row -->

                                </div>
                            </div>
                            <!-- Chat: Header -->

                            <!-- Chat: Search -->
                            <div class="collapse border-bottom px-lg-8" id="chat-2-search">
                                <div class="container-xxl py-4 py-lg-6">

                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-lg"
                                               placeholder="Search this chat" aria-label="Search this chat">

                                        <div class="input-group-append">
                                            <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                                                <i class="fe-search"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Chat: Search -->

                            <!-- Chat: Content-->
                            <div class="chat-content px-lg-8 ">

                                <div class="container-xxl py-6 py-lg-10 msg_card_body">
                                    {% for chat in thread.chatmessage_thread.all %}



                                        {% if chat.user == user %}


                                            <!-- Message -->
                                            <div class="message message-right">
                                                <!-- Avatar -->
                                                <div class="avatar avatar-sm ml-4 ml-lg-5 d-none d-lg-block">
                                                    <img class="avatar-img" src="{{ chat.user.avatar.url }}" alt="">
                                                </div>

                                                <!-- Message: body -->
                                                <div class="message-body">

                                                    <!-- Message: row -->
                                                    <div class="message-row">
                                                        <div class="d-flex align-items-center justify-content-end">

                                                            <!-- Message: dropdown -->
                                                            <div class="dropdown">
                                                                <a class="text-muted opacity-60 mr-3" href="#"
                                                                   data-toggle="dropdown" aria-haspopup="true"
                                                                   aria-expanded="false">
                                                                    <i class="fe-more-vertical"></i>
                                                                </a>

                                                                <div class="dropdown-menu">
                                                                    <a class="dropdown-item d-flex align-items-center"
                                                                       href="#">
                                                                        Edit <span class="ml-auto fe-edit-3"></span>
                                                                    </a>
                                                                    <a class="dropdown-item d-flex align-items-center"
                                                                       href="#">
                                                                        Share <span class="ml-auto fe-share-2"></span>
                                                                    </a>
                                                                    <a class="dropdown-item d-flex align-items-center"
                                                                       href="#">
                                                                        Delete <span class="ml-auto fe-trash-2"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <!-- Message: dropdown -->

                                                            <!-- Message: content -->
                                                            <div class="message-content bg-primary text-white">

                                                                {% if chat.file.file.url %}
                                                                    {% if chat.is_image %}
                                                                        <div>
                                                                            <img src="{{ chat.file.file.url }}"
                                                                                 alt="Uploaded Image" width="200"/>
                                                                        </div>
                                                                    {% else %}
                                                                        <div>
                                                                            <a class=" btn btn-primary"
                                                                               href="{{ chat.file.file.url }}" download>Скачать
                                                                                файл</a>
                                                                        </div>
                                                                    {% endif %}
                                                                {% endif %}
                                                                <div> {{ chat.message }}
                                                                </div>
                                                                <div class="mt-1">
                                                                    <small class="opacity-65">
                                                                        {{ chat.timestamp|time:"H:i" }}
                                                                    </small>
                                                                </div>
                                                            </div>
                                                            <!-- Message: content -->

                                                        </div>
                                                    </div>
                                                    <!-- Message: row -->

                                                </div>
                                                <!-- Message: body -->
                                            </div>
                                            <!-- Message -->

                                        {% else %}

                                            <!-- Message -->
                                            <div class="message">
                                                <!-- Avatar -->
                                                <a class="avatar avatar-sm mr-4 mr-lg-5" href="#"
                                                   data-chat-sidebar-toggle="#chat-2-info">
                                                    <img class="avatar-img" src="{{ chat.user.avatar.url }}">
                                                </a>

                                                <!-- Message: body -->
                                                <div class="message-body">

                                                    <!-- Message: row -->
                                                    <div class="message-row">
                                                        <div class="d-flex align-items-center">

                                                            <!-- Message: content -->
                                                            <div class="message-content bg-light">

                                                                {% if chat.file.file.url %}
                                                                    {% if chat.is_image %}
                                                                        <div>
                                                                            <img src="{{ chat.file.file.url }}"
                                                                                 alt="Uploaded Image" width="200"/>
                                                                        </div>
                                                                    {% else %}
                                                                        <div>
                                                                            <a class=" btn btn-primary"
                                                                               href="{{ chat.file.file.url }}" download>Скачать
                                                                                файл</a>
                                                                        </div>
                                                                    {% endif %}
                                                                {% endif %}
                                                                <div>{{ chat.message }}
                                                                </div>
                                                                <div class="mt-1">
                                                                    <small class="opacity-65">
                                                                        {{ chat.timestamp|time:"H:i" }}
                                                                    </small>
                                                                </div>
                                                            </div>
                                                            <!-- Message: content -->

                                                        </div>
                                                    </div>
                                                    <!-- Message: row -->

                                                </div>
                                                <!-- Message: body -->
                                            </div>
                                            <!-- Message -->

                                        {% endif %}
                                    {% endfor %}

                                </div>

                                <!-- Scroll to end -->
                                <div class="end-of-chat"></div>
                            </div>
                            <!-- Chat: Content -->

                            <!-- Chat: DropzoneJS container -->
                            <div class="chat-files hide-scrollbar px-lg-8">
                                <div class="container-xxl">
                                    <div class="dropzone-previews-js form-row py-4"></div>
                                </div>
                            </div>
                            <!-- Chat: DropzoneJS container -->


                            <!-- Chat: Footer -->
                            <div class="chat-footer border-top py-4 py-lg-6 px-lg-8">
                                <div class="container-xxl">

                                    <form method="post" action="/upload_chat_file/"
                                          id="send-message-form-{{ thread.id }}" data-emoji-form="">
                                        {% csrf_token %}
                                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                        <div class="form-row align-items-center">
                                            <div class="col">
                                                <div class="input-group">

                                                    <!-- Textarea -->
                                                    <input id="input-message-{{ thread.id }}"
                                                           type="text" name=""
                                                           class="form-control bg-transparent border-0 "
                                                           placeholder="Type your message..."
                                                           data-emoji-input="">

                                                    <!-- Emoji button -->
                                                    <div class="input-group-append">
                                                        <button class="btn btn-ico btn-secondary btn-minimal bg-transparent border-0"
                                                                type="button" data-emoji-btn="">
                                                            <img src="{% static 'swiftalk/images/smile.svg' %}"
                                                                 data-inject-svg="" alt="">
                                                        </button>
                                                    </div>

                                                    <!-- Upload button -->
                                                    <div class="input-group-append">
                                                        <button id="chat-upload-btn--{{ thread.id }}"
                                                                class="btn btn-ico btn-secondary btn-minimal bg-transparent border-0 dropzone-button-js"
                                                                type="button">
                                                            <img src="{% static 'swiftalk/images/paperclip.svg' %}"
                                                                 data-inject-svg=""
                                                                 alt="">
                                                        </button>
                                                    </div>

                                                </div>

                                            </div>

                                            <!-- Submit button -->
                                            <div class="col-auto">
                                                <button class="btn btn-ico btn-primary rounded-circle" type="submit">
                                                    <span class="fe-send"></span>

                                                </button>
                                            </div>

                                        </div>

                                    </form>

                                </div>
                            </div>
                            <!-- Chat: Footer -->

                        </div>


                        <!-- Chat: body -->
                        <!-- Chat Details -->
                        <div id="chat-2-info" class="chat-sidebar">
                            <div class="d-flex h-100 flex-column">

                                <!-- Header -->
                                <div class="border-bottom py-4 py-lg-6">
                                    <div class="container-fluid">

                                        <ul class="nav justify-content-between align-items-center">
                                            <!-- Close sidebar -->
                                            <li class="nav-item list-inline-item">
                                                <a class="nav-link text-muted px-0" href="#" data-chat-sidebar-close="">
                                                    <i class="icon-md fe-chevron-left"></i>
                                                </a>
                                            </li>

                                            <!-- Title(mobile) -->
                                            <li class="text-center d-block d-lg-none">
                                                <h6 class="mb-n2">Anna Bridges</h6>
                                                <small class="text-muted">Chat Details</small>
                                            </li>

                                            <!-- Dropdown -->
                                            <li class="nav-item list-inline-item">
                                                <div class="dropdown">
                                                    <a class="nav-link text-muted px-0" href="#" data-toggle="dropdown"
                                                       aria-haspopup="true" aria-expanded="false">
                                                        <i class="icon-md fe-sliders"></i>
                                                    </a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            Mute
                                                            <span class="ml-auto fe-bell"></span>
                                                        </a>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            Delete
                                                            <span class="ml-auto fe-trash-2"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <!-- Header -->

                                <!-- Body -->
                                <div class="hide-scrollbar flex-fill">

                                    <div class="border-bottom text-center py-9 px-10">
                                        <!-- Photo -->
                                        <div class="avatar avatar-xl mx-5 mb-5">
                                            <img class="avatar-img" src="{% if thread.first_person == user %}
                                                                    {{ thread.second_person.avatar.url }}
                                                                {% else %}
                                                                    {{ thread.first_person.avatar.url }}
                                                                {% endif %}" alt="">
                                        </div>
                                        <h5>{% if thread.first_person == user %}
                                            {{ thread.second_person.name }}
                                        {% else %}
                                            {{ thread.first_person.name }}
                                        {% endif %}
                                        </h5>
                                        <p class="text-muted">
                                            {% if thread.first_person == user %}
                                                {{ thread.second_person.bio }}
                                            {% else %}
                                                {{ thread.first_person.bio }}
                                            {% endif %}</p>
                                    </div>

                                    <!-- Navs -->
                                    <div class="nav nav-tabs nav-justified bg-light rounded-0" role="tablist">
                                        <a class="nav-item nav-link active" href="#chat-2-user-details"
                                           data-toggle="tab"
                                           aria-selected="true" role="tab">Details</a>
                                        <a class="nav-item nav-link" href="#chat-2-user-files" data-toggle="tab"
                                           role="tab">Files</a>
                                    </div>
                                    <!-- Navs -->

                                    <div class="tab-content" role="tablist">
                                        <!-- Details -->
                                        <div id="chat-2-user-details" class="tab-pane fade show active" role="tabpanel">
                                            <ul class="list-group list-group-flush mb-8">
                                                <li class="list-group-item py-6">
                                                    <div class="media align-items-center">
                                                        <div class="media-body">
                                                            <p class="small text-muted mb-0">Email</p>
                                                            <p>{% if thread.first_person == user %}
                                                                {{ thread.second_person.email }}
                                                            {% else %}
                                                                {{ thread.first_person.email }}
                                                            {% endif %}</p>
                                                        </div>
                                                        <i class="text-muted icon-sm fe-mail"></i>
                                                    </div>
                                                </li>
                                            </ul>

                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item py-6">
                                                    <a href="#" class="media text-muted">
                                                        <div class="media-body align-self-center">
                                                            {% if thread.first_person == user %}
                                                                {{ thread.second_person.twitter }}
                                                            {% else %}
                                                                {{ thread.first_person.twitter }}
                                                            {% endif %}
                                                        </div>
                                                        <i class="icon-sm fe-twitter"></i>
                                                    </a>
                                                </li>

                                                <li class="list-group-item py-6">
                                                    <a href="#" class="media text-muted">
                                                        <div class="media-body align-self-center">
                                                            {% if thread.first_person == user %}
                                                                {{ thread.second_person.facebook }}
                                                            {% else %}
                                                                {{ thread.first_person.facebook }}
                                                            {% endif %}
                                                        </div>
                                                        <i class="icon-sm fe-facebook"></i>
                                                    </a>
                                                </li>

                                                <li class="list-group-item py-6">
                                                    <a href="#" class="media text-muted">
                                                        <div class="media-body align-self-center">
                                                            {% if thread.first_person == user %}
                                                                {{ thread.second_person.github }}
                                                            {% else %}
                                                                {{ thread.first_person.github }}
                                                            {% endif %}
                                                        </div>
                                                        <i class="icon-sm fe-github"></i>
                                                    </a>
                                                </li>
                                                <li class="list-group-item py-6">
                                                    <a href="#" class="media text-muted">
                                                        <div class="media-body align-self-center">
                                                            {% if thread.first_person == user %}
                                                                {{ thread.second_person.instagram }}
                                                            {% else %}
                                                                {{ thread.first_person.instagram }}
                                                            {% endif %}
                                                        </div>
                                                        <i class="icon-sm fe-instagram"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Details -->

                                        <!-- Files -->
                                        <div id="chat-2-user-files" class="tab-pane fade" role="tabpanel">
                                            <ul class="list-group list-group-flush list-group-no-border-first">


                                                <!-- File -->
                                                <li class="list-group-item py-6">
                                                    <div class="media">

                                                        <div class="icon-shape bg-primary text-white mr-5">
                                                            <i class="fe-paperclip"></i>
                                                        </div>

                                                        <div class="media-body align-self-center overflow-hidden">
                                                            <h6 class="text-truncate mb-0">
                                                                <a href="#" class="text-reset"
                                                                   title="E5419783-047D-4B4C-B30E-F24DD8247731.JPG">E5419783-047D-4B4C-B30E-F24DD8247731.JPG</a>
                                                            </h6>

                                                            <ul class="list-inline small mb-0">
                                                                <li class="list-inline-item">
                                                                    <span class="text-muted">79.2 KB</span>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <span class="text-muted text-uppercase">txt</span>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="align-self-center ml-5">
                                                            <div class="dropdown">
                                                                <a href="#"
                                                                   class="btn btn-sm btn-ico btn-link text-muted w-auto"
                                                                   data-toggle="dropdown" aria-haspopup="true"
                                                                   aria-expanded="false">
                                                                    <i class="fe-more-vertical"></i>
                                                                </a>
                                                                <div class="dropdown-menu">
                                                                    <a class="dropdown-item d-flex align-items-center"
                                                                       href="#">
                                                                        Download <span
                                                                            class="ml-auto fe-download"></span>
                                                                    </a>
                                                                    <a class="dropdown-item d-flex align-items-center"
                                                                       href="#">
                                                                        Share <span class="ml-auto fe-share-2"></span>
                                                                    </a>
                                                                    <a class="dropdown-item d-flex align-items-center"
                                                                       href="#">
                                                                        Delete <span class="ml-auto fe-trash-2"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </li>
                                                <!-- File -->


                                            </ul>
                                        </div>
                                        <!-- Files -->
                                    </div>

                                </div>
                                <!-- Body -->

                            </div>
                        </div>
                        <!-- Chat Details -->
                    </div>

                </div>
            {% endfor %}
            <!-- Chat -->

            {% block settings %}
            {% endblock %}

            {#    <!-- Default Page -->#}
            <div class="chat h-100 flex-column justify-content-center text-center"
                 role="tabpanel">
                <div class="container-xxl">

                    <div class="avatar avatar-lg mb-5">
                        <img class="avatar-img" src="{{ request.user.avatar.url }}" alt="">
                    </div>

                    <h6>Hey, {{ request.user.username }}</h6>
                    <p>Please select a chat to start messaging.</p>
                </div>
            </div>
        </div>


    </div>

    {#<!-- Main Content -->#}
{% endblock %}



