{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>SWIFTALK</title>

    {#    <!-- Template core CSS -->#}
    <link href="{% static 'swiftalk/css/template.min.css' %}" rel="stylesheet">
    <link href="{% static 'swiftalk/css/template.dark.min.css' %}" rel="stylesheet"
          media="(prefers-color-scheme: dark)">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>


    <style>
        mark {
            background: #051b33d1;
            color: aliceblue;
        }
        .user-search.hide {
            display: none;
        }
        .msg_card_body {
            overflow-y: auto;
            max-height: 100%;
        }
        .msg_card_body::-webkit-scrollbar {
            width: 0.5em; /* Ширина скроллбара */
        }
        .msg_card_body::-webkit-scrollbar-track {
            background: #29242A; /* Цвет фона скроллбара */
        }
        .msg_card_body::-webkit-scrollbar-thumb {
            background-color: #888; /* Цвет скроллбара */
            border-radius: 1rem; /* Скругление углов */
        }
    </style>

</head>
<body>
{% if user.is_authenticated %}
    <input type="hidden" id="logged-in-user" value="{{ user.id }}">
{% endif %}
<div class="layout">

    {#<!-- Navbar -->#}
    <div class="navigation navbar navbar-light justify-content-center py-xl-7">

        <!-- Brand -->
        <a href="#" class="d-none d-xl-block mb-6">
            <img src="{% static 'swiftalk/images/brand1.svg' %}" class="mx-auto fill-primary" data-inject-svg=""
                 alt="Swiftalk"
                 style="height: 65px;">
        </a>

        <!-- Menu -->
        <ul class="nav navbar-nav flex-row flex-xl-column flex-grow-1 justify-content-between justify-content-xl-center py-3 py-lg-0"
            role="tablist">

            <!-- Invisible item to center nav vertically -->
            <li class="nav-item d-none d-xl-block invisible flex-xl-grow-1">
                <a class="nav-link position-relative p-0 py-xl-3" href="#" title="">
                    <i class="icon-lg fe-x"></i>
                </a>
            </li>

            <!-- Create group -->
            <li class="nav-item">
                <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-create-chat"
                   title="Create chat" role="tab">
                    <i class="icon-lg fe-edit"></i>
                </a>
            </li>

            <!-- Friend -->
            <li class="nav-item mt-xl-9">
                <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-friends"
                   title="Friends" role="tab">
                    <i class="icon-lg fe-users"></i>
                </a>
            </li>

            <!-- Chats -->
            <li class="nav-item mt-xl-9">
                <a class="nav-link position-relative p-0 py-xl-3 active" data-toggle="tab" href="#tab-content-dialogs"
                   title="Chats" role="tab">
                    <i class="icon-lg fe-message-square"></i>
                    <div class="badge badge-dot badge-primary badge-bottom-center"></div>
                </a>
            </li>

            <!-- Banking -->
            <li class="nav-item mt-xl-9">
                <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-card"
                   title="Card"
                   role="tab">
                    <i class="icon-lg fe-credit-card"></i>
                </a>
            </li>

            <!-- Profile -->
            <li class="nav-item mt-xl-9 d-none d-xl-block flex-xl-grow-1">
                <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-user"
                   title="Profile"
                   role="tab">
                    <i class="icon-lg fe-user"></i>
                </a>
            </li>


            <!-- Settings -->
            <li class="nav-item mt-xl-9">
                <a class="nav-link position-relative p-0 py-xl-3" href="#tab-content-settings" title="Settings"
                   data-toggle="tab" role="tab">
                    <i class="icon-lg fe-settings"></i>
                </a>
            </li>

        </ul>
        <!-- Menu -->

    </div>
    {#        <!-- Navbar -->#}

    {% block sidebar %}
    {% endblock %}

    {% block content %}
    {% endblock %}


</div>
{#    <!-- Layout -->#}

{#    <!-- DropzoneJS: Template -->#}
<div id="dropzone-template-js">
    <div class="col-lg-4 my-3">
        <div class="card bg-light">
            <div class="card-body p-3">
                <div class="media align-items-center">

                    <div class="dropzone-file-preview">
                        <div class="avatar avatar rounded bg-secondary text-basic-inverse d-block mr-5">
                            <i class="fe-paperclip"></i>
                        </div>
                    </div>

                    <div class="dropzone-image-preview">
                        <div class="avatar avatar mr-5">
                            <img src="#" class="avatar-img rounded" data-dz-thumbnail="" alt="">
                        </div>
                    </div>

                    <div class="media-body overflow-hidden">
                        <h6 class="text-truncate small mb-0" data-dz-name=""></h6>
                        <p class="extra-small" data-dz-size="">
                    </div>

                    <div class="ml-5">
                        <a href="#" class="btn btn-sm btn-link text-decoration-none text-muted" data-dz-remove="">
                            <i class="fe-x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#    <!-- DropzoneJS: Template -->#}

{#    <!-- Modal: Invite friends -->#}
<div class="modal fade" id="invite-friends" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <div class="media flex-fill">
                    <div class="icon-shape rounded-lg bg-primary text-white mr-5">
                        <i class="fe-users"></i>
                    </div>
                    <div class="media-body align-self-center">
                        <h5 class="modal-title">Invite friends</h5>
                        <p class="small">Invite colleagues, clients and friends.</p>
                    </div>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="#">
                    <div class="form-group">
                        <label for="invite-email" class="small">Email</label>
                        <input type="text" class="form-control form-control-lg" id="invite-email">
                    </div>

                    <div class="form-group mb-0">
                        <label for="invite-message" class="small">Invitation message</label>
                        <textarea class="form-control form-control-lg" id="invite-message"
                                  data-autosize="true"></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-block btn-primary d-flex align-items-center">
                    Invite friend
                    <i class="fe-user-plus ml-auto"></i>
                </button>
            </div>

        </div>
    </div>
</div>
{#    <!-- Modal: Invite friends -->#}

{#    <!-- Modal: Top Up -->#}
<div class="modal fade" id="top-up-money" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <div class="media flex-fill">
                    <div class="icon-shape rounded-lg bg-primary text-white mr-5">
                        <i class="fe-user"></i>
                    </div>
                    <div class="media-body align-self-center">
                        <h5 class="modal-title">Top Up</h5>
                        <p class="small">Fill your account!</p>
                    </div>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form method="post" action="#">
                    {% csrf_token %}
                    <div class="form-group mb-0">
                        <label for="top-up-balance" class="small">Amount</label>
                        <input type="number" class="form-control form-control-lg" id="top-up-balance" name="balance">
                    </div>
                    <div class="modal-footer">
                        <button name="form_type" value="top_up" type="submit"
                                class="btn btn-lg btn-block btn-primary d-flex align-items-center">
                            Top Up
                            <i class="fe-plus ml-auto"></i>
                        </button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
{#    <!-- Modal: Top Up -->#}

{#    <!-- Modal: Transfer -->#}
<div class="modal fade" id="transfer-money" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <div class="media flex-fill">
                    <div class="icon-shape rounded-lg bg-primary text-white mr-5">
                        <i class="fe-user"></i>
                    </div>
                    <div class="media-body align-self-center">
                        <h5 class="modal-title">Transfer</h5>
                        <p class="small">Transfer the money to your friend's account!</p>
                    </div>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form method="post" action="#">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="transfer-user-id" class="small">Select User</label>
                        <select class="form-control form-control-lg" id="transfer-user-id" name="user">
                            {% for user in Users %}
                                {% if user != request.user %}
                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mb-0">
                        <label for="transfer-balance" class="small">Amount</label>
                        <input type="number" class="form-control form-control-lg" id="transfer-balance" name="balance">
                    </div>
                    <div class="modal-footer">
                        <button name="form_type" value="transfer" type="submit"
                                class="btn btn-lg btn-block btn-primary d-flex align-items-center">
                            Transfer
                            <i class="fe-arrow-right ml-auto"></i>
                        </button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
{#    <!-- Modal: Transfer -->#}

{% if messages %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        });
    </script>
{% endif %}


{#    <!-- Scripts -->#}

<script src="{% static 'swiftalk/js/libs/jquery.min.js' %}"></script>
<script src="{% static 'swiftalk/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'swiftalk/js/plugins/plugins.bundle.js' %}"></script>
<script src="{% static 'swiftalk/js/template.js' %}"></script>
<script src="{% static 'swiftalk/js/messages.js' %}"></script>
{% block script %}
{% endblock %}
{#    <!-- Scripts -->#}
</body>
</html>